*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #050507;
}

#root {
  width: 100%;
  min-height: 100%;
}

canvas {
  display: block;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
